{% extends "base.html" %}


{% block title %}

Add Member | KN STREET CHA RAJA

{% endblock %}



{% block content %}


<div class="container-fluid py-4">


<div class="card shadow">


<div class="card-header">

<h3>
👤 Add New Member
</h3>

</div>



<div class="card-body">



<form action="/save-member" method="POST">



<div class="mb-3">

<label class="form-label">

Name

</label>


<input
type="text"
class="form-control"
name="name"
placeholder="Enter Member Name"
required>

</div>





<div class="mb-3">

<label class="form-label">

Mobile

</label>


<input
type="text"
class="form-control"
name="mobile"
placeholder="Enter Mobile Number"
required>

</div>





<div class="mb-3">

<label class="form-label">

House No

</label>


<input
type="text"
class="form-control"
name="house_no"
placeholder="House Number">

</div>





<div class="mb-3">

<label class="form-label">

Area

</label>


<input
type="text"
class="form-control"
name="area"
placeholder="Area">

</div>





<div class="mb-3">

<label class="form-label">

Expected Amount

</label>


<input
type="number"
class="form-control"
name="expected_amount"
value="500">

</div>





<button 
type="submit"
class="btn btn-success w-100">

<i class="fa fa-save"></i>

Save Member

</button>



</form>


</div>


</div>


</div>



{% endblock %}