<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandalFlow</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🙏 MandalFlow</h1>

    <p class="subtitle">Ganesh Chanda Management</p>

    <div class="card">
        <h3>Total Members</h3>
        <h2>180</h2>
    </div>

    <div class="card">
        <h3>Total Collection</h3>
        <h2>₹62,500</h2>
    </div>

    <div class="card">
        <h3>Total Expenses</h3>
        <h2>₹18,400</h2>
    </div>

    <div class="card">
        <h3>Available Balance</h3>
        <h2>₹44,100</h2>
    </div>

    <button>Add Member</button>

    <button>Collect Chanda</button>

    <button>Expenses</button>

    <button>Reports</button>

</div>

</body>

</html>