<div class="sidebar">


<div class="logo-box">

<img src="/static/images/logo.png">

<div>

<h3>
KN STREET<br>
CHA RAJA
</h3>

<p>
12 YEARS OF DEVOTION
</p>

</div>

</div>



<div class="menu">


<a class="active" href="/dashboard">
<i class="fa fa-home"></i>
Dashboard
</a>


<a href="/members">
<i class="fa fa-users"></i>
Members
</a>


<a href="/payments">
<i class="fa fa-money-bill"></i>
Collections
</a>


<a href="/expenses">
<i class="fa fa-wallet"></i>
Expenses
</a>


<a href="/analytics">
<i class="fa fa-chart-line"></i>
Analytics
</a>


<a href="#">
<i class="fa fa-gear"></i>
Settings
</a>


<a href="#">
<i class="fa fa-cloud"></i>
Backup & Restore
</a>


<a href="/logout"
class="logout-link"
onclick="return confirm('Are you sure you want to logout?')">
<i class="fa fa-right-from-bracket"></i>
Logout
</a>


</div>



<hr>


<h5>
⚡ Quick Actions
</h5>


<a href="/add-member">

<i class="fa fa-user-plus"></i>

Add Member

</a>


<a href="/payments">

<i class="fa fa-indian-rupee-sign"></i>

Add Collection

</a>


<a href="/expenses">

<i class="fa fa-file-invoice"></i>

Add Expense

</a>






</div>